<p></p>
<h4>Login</h4>
<% if flash[:notice] %>
	<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Info</strong> <%= flash[:notice] %>
	</div>
<% end %>
<% if flash[:error] %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Error</strong> <%= flash[:error] %>
	</div>
<% end %>
<%= render 'form' %>